@import "../globals/Globals";

.Div_Drawer_content {
   background-color:#0e2f57 ;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding-bottom: 30px;
  

   .Div_drawer_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color_background;
    width: 80%;

    .Chip_user{
        margin-bottom: 20px;
        width: 70%;
        color: $color_background;
    }

    .Divider{
        border-color: $color_background;
        width: 100%;
        margin-bottom: 10px;
        

    }
   }

   .Logo_drawer{
    width: 80%;
    height: 150px;
    background-image: url("../../asset/logo_blanco.png");
    background-size: contain;
    background-repeat: no-repeat;
   }

   
   .List_item{
    color: $color_background;
    border-radius: 50px;
    margin-bottom: 20px;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #0e3957;

    .List_icon{
        color: $color_background;
    }
   }

   .List_item:hover{

    color: $color_background_secondary;
    border-radius: 50px;
    margin-bottom: 20px;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $color_text_secondary;

    .List_icon{
        color: $color_background_secondary;
    }

   }


}