@import "../globals/Globals";

.Div_Home {
    height: 100%;
    background-color: $color_background;

    .Nav_bar{
        background-color: #0E2F57;

        .Nav_icon{
            color:$color_background;
        }
    }

}
