@import "../globals/Globals";

.Div_Login {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: $font_principal;


    .Div_form_container {
        width: 40%;
        padding: 20px;
        background-color: $color_background;


        .Div_logo {
            height: 100px;
            background-image: url("../../asset/logo.png");
            background-size: contain;
            background-repeat: no-repeat;
        }


        .Div_center {
            height: 88%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .Div_form {
              
                border-radius: 20px;
                height: 450px;
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                padding: 20px;

                h1 {
                    color: white;
                    font-weight: 800;
                    text-align: center;
                }

                .textField {
                    width: 90%;
                    background-color: white;
                }

                .button {
                    width: 60%;
                    border-radius: 30px;
                    background-color: $color_text_secondary;
                    color: $color_text_principal;

                }
            }
        }




    }

    .Div_background {
        width: 60%;
        background-image: url("../../asset/login-background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;

    }

}


@media only screen and (max-width: 600px) {
    .Div_Login {

        .Div_form_container {
            width: 100%;

            .Div_center {
                .Div_form {
                    height: 390px;
                    width: 95%;
                }
            }
           
        }

        .Div_background {
            display: none;

        }
    }



}